@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-text-100 bg-white;
}

/* TODO: Add animated underline for the links */
.debug {
    border: 1px solid #f00;
}

.header-bg::after {
    content: "";
    background: linear-gradient(0deg, rgba(34,34,34,0.3) 0%, rgba(34,34,34,0.8) 100%), url("/header-background-mobile.jpg");
    height: 100%;
    @apply absolute inset-x-0 top-0 -z-10 bg-cover bg-center bg-no-repeat;
}

@media screen and (min-width: 1024px) {
    .header-bg::after {
        background: linear-gradient(0deg, rgba(34,34,34,0.3) 0%, rgba(34,34,34,0.8) 100%), url("/header-background.png");
    }
}